body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    font-family:Overpass;
    font-weight: 300;
    background-color:#78B6FF;
    /* background: grey; */
  }
/* 
canvas {
    display: block;
    width: 100%;
    background-color: grey;
  } 
   */

header{
  padding: 10px;
  /* position: fixed; */
  display: block;
  z-index: 99;
  border: solid;
  border-width: 1px;
  border-color: black;
  width: 550px;
}
  
.title{
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 1em;

}

.main {
  display: block;
  width: 100%;
  background-color: #78B6FF;
  border: solid;
  border-width: 1px;
  border-color: black;
}

footer{
  position:relative;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-color: black;
}