body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background: grey; */
  }

/* canvas {
    display: block;
    height: 90vh;
    border: solid 1px;
    z-index: -1;
  }  */
  
header{
  background-color: yellow;
  padding: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
  height: 10vh;
}
  
main{
  display:block;
  height: 90vh;
}

footer{
  background-color: yellow;
  height: 10vh;
  padding: 10px;
  border-top: solid;
  border-width: 1px;
  border-color: black;
}