body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family:Overpass;
    font-weight: 300;
    /* background: grey; */
  }

/* canvas {
    display: block;
    background-color: beige;
    height: 90vh;
    border: solid 1px;

  } 
   */

header{
  padding: 10px;
  position: fixed;
  display: block;
  z-index: 99;
  border: solid;
  border-width: 1px;
  border-color: black;
  width: 550px;
}
  
.title{
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 1em;

}

main{
  display: block;
  height: 90vh;
  background-color: grey;

}

footer{
  position:fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-color: black;
}